.roadinfo {
  z-index: 9;
  overflow-y: auto;
  overflow-x: hidden;
}

.fadeIn {
  visibility: visible;
  z-index: 9;
  opacity: 1;
  transition: opacity 0.4s;
  overflow-y: auto;
  overflow-x: hidden;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}
