.autocomplete {
  position: absolute;
  right: 10px;
  top: 15px;
  width: 410px;
  max-width: 95%;
  z-index: 3;
  /*background-color: rgba(255, 255, 255, 0.6);*/
}

.textfield {
  background-color: rgba(0, 0, 0, 0);
  background-color: #fff;
}
