.aboutbutton {
  /*color: #3175e5;*/
  cursor: pointer;
  margin: 0rem 0.5rem;
}

.aboutbutton:hover {
  color: #3175e5;
  text-decoration: underline;
}

a {
  color: #3175e5;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.logo {
  margin-top: 30px;
}

img {
  width: 300px;
  min-width: 50%;
}

.faqQuestion {
  font-weight: 500;
}

.faqAnswer {
  margin: 0 0 2.5rem 1rem;
}
