.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
  background-color: #fff;
  color: #000;
  /*text-align: center;*/
  padding: 1rem 1rem;
  border-radius: 5px;

  /* Positioning */
  position: absolute;
  height: 160px;
  bottom: 100%;
  left: 50%;
  width: 200px;
  margin-left: -100px; /* half width*/

  z-index: 1;

  word-wrap: break-word;
}

.tooltip:hover .tooltiptext {
  opacity: 1;
  transition: opacity 0.4s;
  visibility: visible;
}
