.cookiebanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 4rem;
  line-height: 4rem;
  z-index: 10;
  background: #006589;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 0 2rem 0 2rem;
}

.cookieacceptbutton {
  margin-left: 2rem;
  background: #006589;
  margin-top: 1rem;
  height: 2rem;
  border-radius: 3px;
  border-color: #fff;
  border-width: 2px;
  cursor: pointer;
}

.cookieacceptbuttontext {
  color: #fff;
  margin: 0 0.5rem 0 0.5rem;
}
